html {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-color: #333;
    color: #fff;
}

.banner {
    background-color: #333;
    width: 100%;
    height 210px;
    text-align: center;
    margin-top: 5px;
}

.banner img {
    max-height: 80px;
    text-align: center;
}

.btn-lm {
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
}

.carousel {
    text-align: center;
    margin-top: -50px;
}

.carousel img {
    max-height: 940px;
    width: 100%;
    margin: auto;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

.carousel-caption {
    padding-bottom: 100px;
}

.bg1 {
    background-image: url(../images/sq1.jpg);
    height: 200px;
    position: relative;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

.bg1:hover {
    opacity: 0.5;
}

.bg1 .text-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    bottom: 0%;
    width: 90%;
}

.bg2 {
    background-image: url(../images/sq2.png);
    height: 200px;
    position: relative;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

.bg2:hover {
    opacity: 0.5;
}

.bg2 .text-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    text-align: center;
    bottom: 0%;
    width: 90%;
}

.bg3 {
    background-image: url(../images/sq3.jpg);
    height: 200px;
    position: relative;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

.bg3:hover {
    opacity: 0.5;
}

.bg3 .text-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    bottom: 0%;
    width: 90%;
}

.bg4 {
    background-image: url(../images/sq4.png);
    height: 200px;
    position: relative;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

.bg4:hover {
    opacity: 0.5;
}

.bg4 .text-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    text-align: center;
    bottom: 0%;
    width: 90%;
}

.bg5 {
    background-image: url(../images/sideroad.jpg);
    height: 400px;
    position: relative;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

.bg5 .text-container {
    color: #fff;
    text-align: center;
    left: 50%;
    height: 100%;
    width: 40%;
    position: absolute;
}

.bg8 {
    background-image: url(../images/btm1.jpg);
    height: 300px;
    position: relative;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

.bg8 .text-container {
    color: #fff;
    text-align: center;
    left: 0%;
    height: 100%;
    width: 40%;
    position: absolute;
}

.bg9 {
    background-image: url(../images/btm2.jpg);
    height: 300px;
    position: relative;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}

.bg9 .text-container {
    color: #fff;
    text-align: center;
    left: 50%;
    height: 100%;
    width: 40%;
    position: absolute;
}

.center {
    text-align: center;
}

.footer {
    width: 100%;
    height: 50px;
    text-align: center;
}

.footer img {
    max-width: 30px;
}

.footer i {
    width: 15px;
    height: 15px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.footer a {
    color: #fff;
}

.navbar {
    z-index: 1000;
}

.navcenter {
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}


/* -----Sign Up Modal------ */

.modal-content {
    color: #000;
}

form .error {
    color: #ff0000;
}

.valid {
    color: #00ff00;
}


/* -----Video CSS----- */

.content {
    text-align: center;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

hr {
    max-width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}

.no-video .video-container video,
.touch .video-container video {
    display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}

.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}

.video-container .title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.video-container video.fillWidth {
    width: 100%;
}


/* -----Small Media----- */

@media screen and (max-width: 768px) {
    * {
        margin: 0 auto;
    }
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .carousel-caption {
        padding-bottom: 17px;
    }
}
